{% extends "base.html" %}

{% block title %}Registrar Medición - Hayuelos{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    <h5 class="m-0">
                        <i class="bi bi-clipboard-data"></i> Registrar Nueva Medición
                    </h5>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.tanque.label(class="form-label") }}
                                {{ form.tanque(class="form-select") }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.tipo_medida.label(class="form-label") }}
                                {{ form.tipo_medida(class="form-select") }}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.medida_combustible.label(class="form-label") }}
                                {{ form.medida_combustible(class="form-control") }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.galones.label(class="form-label") }}
                                {{ form.galones(class="form-control") }}
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            {{ form.novedad.label(class="form-label") }}
                            {{ form.novedad(class="form-control", rows="3") }}
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <a href="{{ url_for('medicion.historial') }}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Volver
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-save"></i> Registrar Medición
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}